h1{
	font-family: sans-serif, Ubuntu;
}
a{
	font-family: sans-serif, Ubuntu;
}
h4{
	font-family: sans-serif, Ubuntu;
}
br{
	font-family: sans-serif, Ubuntu;
}
p{
	font-family: sans-serif, Ubuntu;
}
small{
	font-family: sans-serif, Ubuntu;
}