body{
	background-color: aliceblue;
	overflow: auto;
}
h1{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
a{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
h4{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
br{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
p{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
small{
	font-family: sans-serif, Ubuntu;
	margin:auto;
}
hr{
	font-family: sans-serif, Ubuntu;
	margin: auto;
}
footer{
	font-family: sans-serif, Ubuntu;
	margin: auto;
}
hr{
	font-family: sans-serif, Ubuntu;
	margin: auto;
}

.TopBar {
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: aliceblue;
}

.TopBarContent1 {
    position: fixed;
    left: 23px; /* Corrected: Added px unit */
    top: 19px;  /* Corrected: Added px unit */
}

.TopBarContent3 {
    position: fixed;
    left: 90px; /* Corrected: Added px unit */
    top: 8px;  /* Corrected: Added px unit */
}

.TopBarContent4 {
    position: fixed;
    left: 460px; /* Corrected: Added px unit */
    top: 12px;  /* Corrected: Added px unit */
}

.TopBarContent2 {
    position: fixed;
    right: 23px; /* Corrected: Added px unit */
    top: 19px;   /* Corrected: Added px unit */
}
.TopBarBottomDivider {
    position: fixed;
    top: 60px;   /* Corrected: Added px unit */
}
